[Unit]
Description=Backup Metrics Exporter

[Service]
# root privileges required due to file permissions
ExecStart=/opt/backmon/backmon
WorkingDirectory=/opt/backmon
Restart=always

[Install]
WantedBy=multi-user.target
